.ArchiveJournals {
    display: flex;
    min-height: 500px;
    border-top: 2px solid var(--red);
}

.ArchiveJournals .months {
    width: 20%;
    border-right: 2px solid var(--red);

}

.ArchiveJournals .months a {
    display: block;
    font-size: 1.2rem;
    padding: 5px;
    color: var(--red);
    cursor: context-menu;
    border-radius: 8px 100px 100px 5px;
}

.ArchiveJournals .months a.active {
    color: var(--blue);
    cursor: pointer;
}

.ArchiveJournals .months a.active:hover {
    color: var(--white);
    background: var(--red);
}

.ArchiveJournals .content {
    width: 80%;
    padding: 20px;
}

.ArchiveJournals .content .heading {
    font-size: 1.9rem;
    color: var(--blue);
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
    -webkit-text-stroke: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.ArchiveJournals .content .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 5px 0;
    color: var(--red);
    border-bottom: 2px solid;
}

.ArchiveJournals .content .row .sub_content{
    width: 95%;
}

.ArchiveJournals .content .row .page {
    width: 5%;
    text-align: end;
}